@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-light: #445f5d;
  --whitey: #cfdcdb;
  --green-dark: #0f2723;
}

body {
  min-height: 100dvh;
  color: var(--whitey);
  background: var(--green-dark);
}
